manifest {
    description = 'Spectral Library generation of OSW analysis'
    author = 'Patrick Pedrioli'
}

params {
    help = false	// Show help
    
    dia_folder = 'Data/DIA'	// Path to DIA files
    diau_threads = 28	// # threads to use for DIA-Umpire SE
    diau_se_params = 'Params/diaumpire_thermo_lib_se.params'	// DIA-Umpire parameter file for SE
    
    dda_folder = 'Data/DDA'	// Path to DDA files
    
    protein_db = 'Results/Databases/proteome.fasta'	// Protein database to search against
    empty_mzxml = 'Params/empty.mzXML'	// Empty mzXML file used to quickly index fasta DB in Fragger
    fragger_threads = 28	// # threads to use for MS-Fragger search
    fragger_params = 'Params/fragger_closed.params'	// MS-Fragger search parameter file
    msfraggerconvert_unimod = 'Params/unimod.xml'	// Unimod modifications file
    
    pyprophet_learn_threads = 4		// # threads to use in pyprophetLearn
    pyprophetscore_pi0_lambda = "0.05 0.5 0.05"		// pi0 lamdba interval for pyprophetScore step
    
    easypqp_pi0_lambda = "0.05 0.2 0.05"	// pi0 lamdba interval for library generation
    easypqp_psm_fdr_threshold = 0.01		// PSM FDR for library generation
    easypqp_peptide_fdr_threshold = 0.01	// peptide FDR for library generation
    easypqp_protein_fdr_threshold = 0.01	// protein FDR for library generation

    globaltargetpqp_product_lower_mz_limit = 300	// low m/z boundary for library inclusion
    globaltargetpqp_precursor_upper_mz_limit = 1800	// high m/z boundary for library inclusion
    globaltargetpqp_min_transitions = 3		// min number of transitions for library inclusion
    globaltargetpqp_max_transitions = 6		// max number of transitions for library inclusion
}


process{
    withName:diaUmpire {
    //	container = 'quay.io/biocontainers/dia_umpire:2.1.3--1'
	container = 'biocontainers/dia-umpire:v2.1.2_cv4'
    }
    withName:mgf2mzxml {
	container = 'digitalproteomes/tpp-dev'
    }
    withName:msfraggerIndex {
	container = 'digitalproteomes/fragger'
    }
    withName:msfraggerSearch {
	container = 'digitalproteomes/fragger'
    }
    withName:msfraggerConvert {
	container = 'grosenberger/easypqp'
    }
    withName:pyprophetMerge {
	container = 'grosenberger/easypqp'
    }
    withName:pyprophetLearn {
	container = 'pyprophet/master:latest'
    }
    withName:pyprophetScore {
	container = 'pyprophet/master:latest'
    }
    withName:easypqp {
	container = 'grosenberger/easypqp:latest'
    }
   withName:globalTargetPqp {
	container = 'grosenberger/openms:latest'
   }    
   withName:globalCombinedPqp {
	container = 'grosenberger/openms:latest'
   }
   withName:globalCombinedDecoyPqp {
	container = 'grosenberger/openms:latest'
  }
}

docker {
    enabled = true
    sudo = true
    runOptions = '-e LOCAL_USER_ID=$(id -u) -u $(id -u):$(id -g)'
}

executor {
     name = 'local'
     cpus = 28
     memory = '200 GB'
}
