manifest {
    description = 'Spectral Library generation of OSW analysis. Adapted from original work by George Rosenberger.'
    author = 'Patrick Pedrioli'
}

params {
    // General parameters
    help = false	// Show help
    dda_folder = 'Data/DDA'	// Path to DDA files
    dia_folder = 'Data/DIA'	// Path to DIA files
    protein_db = 'Results/Databases/proteome.fasta'	// Protein database to search against
    unimod = 'Params/unimod.xml'	// Unimod modifications file
    
    // DIA-Umpire parameters
    diau_threads = 28	// # threads to use for DIA-Umpire SE
    diau_se_params = 'Params/diaumpire_thermo_lib_se.params'	// DIA-Umpire parameter file for SE

    // MSFragger parameters    
    fragger_threads = 28	// # threads to use for MS-Fragger search
    fragger_params = 'Params/fragger_closed.params'	// MS-Fragger search parameter file

    // Comet parameters
    comet_threads = 28
    comet_params = 'Params/comet.params'

    // TPP parameters
    //    tpp = "-OAdplIw -PPM"
    decoy = "DECOY_"
    iprophet_threads = 8    
    
    // easypqp library generation parameters
    easypqp_pi0_lambda = "0.05 0.2 0.05"	// pi0 lamdba interval for library generation
    easypqp_psm_fdr_threshold = 0.01		// PSM FDR for library generation
    easypqp_peptide_fdr_threshold = 0.01	// peptide FDR for library generation
    easypqp_protein_fdr_threshold = 0.01	// protein FDR for library generation
    easypqp_lowess_fraction = 0.1		// lower fraction for library generation

    // oswAssayGeneartor parameters
    oswAssayGenerator_mode = 'OSW'			// OSW or IPF
    oswAssayGenerator_product_lower_mz_limit = 300	// low m/z boundary for library inclusion
    oswAssayGenerator_precursor_upper_mz_limit = 1800	// high m/z boundary for library inclusion
    oswAssayGenerator_min_transitions = 3		// min number of transitions for library inclusion
    oswAssayGenerator_max_transitions = 6		// max number of transitions for library inclusion
    

    // vanila or IPF run?
    mode = 'OSW'		// OSW or IPF
}


process{
    withName:diaUmpire {
    //	container = 'quay.io/biocontainers/dia_umpire:2.1.3--1'
	container = 'biocontainers/dia-umpire:v2.1.2_cv4'
    }
    withName:mgf2mzxml {
	container = 'digitalproteomes/tpp-dev'
    }
    withName:cometSearch {
	container = 'digitalproteomes/comet'
    }
    withName:peptideProphet {
	container = 'digitalproteomes/tpp-dev'
    }
    withName:iProphet {
	container = 'digitalproteomes/tpp-dev'
    }
    withName:easypqpConvert {
	container = 'grosenberger/easypqp:latest'
    }
    withName:easypqp {
	container = 'grosenberger/easypqp:latest'
    }
   withName:globalTargetPqp {
	container = 'grosenberger/openms:latest'
   }    
   withName:oswAssayGenerator {
	container = 'grosenberger/openms:latest'
   }
   withName:oswDecoyGenerator {
	container = 'grosenberger/openms:latest'
  }
}

docker {
    enabled = true
    sudo = true
    runOptions = '-e LOCAL_USER_ID=$(id -u) -u $(id -u):$(id -g)'
}

executor {
     name = 'local'
     cpus = 29
     memory = '50 GB'
}
